---
import AsideMenuPlaylists from './AsideMenuPlaylists.astro'
import AsideMenuTop from './AsideMenuTop.astro'

interface Props {
  class?: string
}
const { class: className = '' } = Astro.props
---

<aside
  class:list={[
    'relative mb-4 flex min-h-0 flex-col justify-center bg-black sm:mb-3',
    className,
    'w-[70px] transition-all duration-300 sm:w-[70px] md:w-[305px] lg:w-[324px] xl:w-[380px] 2xl:w-[420px]'
  ]}
>
  <nav class='flex flex-grow flex-col gap-2'>
    <AsideMenuTop />
    <AsideMenuPlaylists />
  </nav>
</aside>
